<!DOCTYPE html>
<html lang="en">
<head>
  <title>Country Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link rel="stylesheet" href="../static/css/style.css">
</head>



<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Project_2</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="home.html">Home</a></li>
        <li><a href="map">Map</a></li>
        <li><a href="country">Country Data</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <img src='http://{{data.0.flag_image}}' class="img-responsive" style="width:60%" alt="Flag of "+{{data.0.country_name}}>   
   
  </div>
</div>


  <form class="form-inline">
      <div class="form-group">
        <label for="Olymics">The Olymics Breakdown For {{data.flag.country_name}}</label>
        <input type="text" class="form-control" id="OlympicsInfo" placeholder="Let's Choose a Criteria">
      </div>
      <button id="submit" type="submit" class="btn btn-default">Plot Breakdown</button>
    </form>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JS -->
  <div id="plot"></div>
  <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->

  <script type="text/javascript" src="../static/js/slider_plot_through_years_USA.js"></script>

<!-- Flags -->

</body>
</html>
